<h2 class="poll-question">{{question}}</h2>
<ul class="poll-answers radio">
    {{#each answers }}
    <li>
        <input name="q{{../id}}" id="a{{id}}" type="radio" value="{{id}}" class="toggle no-select" />
        <label for="a{{id}}">{{answer}}</label>
    </li>
    {{/each}}
</ul>
<div class="poll-controls">
    <button type="button" id="vote-btn" class="btn primary-btn">Vote!</button>
</div>
